<h4 class='title'><%= @product.title %></h4>
<p class='description container'><%= @product.description %></p>
<%= cl_image_tag @product.photo.key if @product.photo.attached? %>
<span class='price'><%= @product.price %></span>

<%= render 'favorite', product: @product %>

<%= link_to 'Edit product', edit_product_path(@product) if @product.owner? %>
<%# El link de delete lo hicimos convencionalmente como se hace un metodo destroy aunque no estamos buscadno nada en la base de datos,
tambien se podia llamar un metodo que hiciera lo mismo que hace el metodo destroy pero lo dejamos asi por convención
tampoco habria que pasarle parametros al otro metodo que hiciera lo mismo pero aca si se los pasamos por convención un metodo destroy necesita un parametro %>
<%= link_to 'Delete product', product_path(product_id: @product.id), data: {turbo_method: :delete, turbo_confirm: 'Delete product?'} if @product.owner? %>
<p>Seller:
  <%= link_to user_path(@product.user.username) do %>
    <%= @product.user.username %>
  <% end %>
</p>
